
<h2>Concatenative Languages</h2>
<br/>
The H languages is a concatenative language. This means that a program in H is a concatenation of expressions. 
<br/>
<br/>

H was influenced by some other concatenative languages that I named in the <a href="https://hlzmn.blogspot.com/2017/11/h-programming-language-part-1.html" target="_blank">introductory post</a>. H was influenced most by a language called <a href="http://www.latrobe.edu.au/humanities/research/research-projects/past-projects/joy-programming-language" target="_blank">Joy</a>. In Joy programs are lists (concatenations) of symbols (representing function names, also called words) and literals like integers and lists. Programs in h are written in the same way, i.e. they're lists of expressions.
<br/>
<br/>

There are different flavors of concatenative language, but most of them use a stack oriented paradigm. That means that a stack is used for moving data to and from functions. This is in contrast to an applicative language like C, C++, or Java. In those languages data is passed to and from functions using named parameters and usually a single return value. Implementations of those languages typically use a stack to facilitate the data passing, but a stack is not required. However, in a stack-oriented concatenative language the stack is absolutely required.
<br/>
<br/>

An example program written in the style of Joy or H, such as <code>"hello world" out</code> contains two expressions. The first is the string <code>"hello world"</code> and the second is the symbol <code>out</code>. In both these languages <a href="https://en.wikipedia.org/wiki/Symbol_(programming)" target="_blank">symbols</a> are first class values that are essentially named integers. Execution of the program procedes from left to right. When a literal like the value <code>"hello world"</code> (integers and pairs are also literals in Joy and H) is encountered it is pushed onto a stack for use by the rest of the program. In this example the rest of the program is the symbol <code>out</code>. In Joy when a symbol is evaluated it is used as a key in a table of functions. When an entry is found for the given symbol its corresponding program is executed using the current data stack. In this way the <code>out</code> function has access to the <code>"hello world"</code> string that was placed there. The semantics of a symbol appearing in an H program are slightly different than just a lookup in a dictionary. The <a href="H Machine.html" target="_blank">next post</a> will describe the execution model of the H language.



