<h2>Expressions and Patterns</h2>
<br/>
The last post talked about how the execution of an H program is a series of transformations of H machine state. The transformations are defined by a set of rules. In order to talk about the rules, I first have to describe the expressions and patterns that make up the rules. The expressions in H are essentially Lisp <a href="https://en.wikipedia.org/wiki/S-expression" target="_blank">s-expressions</a>. They are either atoms, or pairs of s-expressions. 
The atoms in H are integers and symbols. The grammar is currently very limited to simplify the project and as such the integers are only non-negative. It would be a simple matter to allow negative integers in the grammar and the interpreter that exists now already has support for all integers. 
The grammar (antlr4 syntax) of atoms, pairs, and expressions in H is as follows:
<pre>    natural
        : '0'..'9'+
        ;
        
    symbol
        : ('a'..'z' | '_' ) ('a'..'z' | 'A'..'Z' | '0'..'9' | '_' )*
        ;

    atom
        : natural
        | symbol
        ;
        
    pairExpr
        : '(' expr* ')'             //either nil or a nil terminated list
        | '(' expr+ '.' expr ')'    //a list or pair with possibly non nil termination
        ;
    
    expr
        : atom
        | pairExpr
        ;</pre>
The grammar for patterns is similar to expressions but is augmented with typenames, options, type constructors, and binding patterns. Typenames are the same as symbols but must begin with an upper case character. An option pattern is one or more patterns surrounded with curly brackets. A type constructor is a typename followed by zero or more pattern parameters with the entire construct surrounded by square brackets. Binding patterns contain a symbol and a pattern. The pattern in a binding pattern is used to determine if the pattern matches. In the case that a binding pattern does match, its symbol is bound to the matched value and that symbol can be used on the right hand side of the rule. More on that in the next post.
The grammar for patterns is as follows:
<pre>    typename 
        : ('A'..'Z' ) ('a'..'z' | 'A'..'Z' | '0'..'9' | '_' )*
        ;
        
    pairPattern
        : '(' pattern* ')'                //either nil or a nil terminated list
        | '(' pattern+ '.' pattern ')'    //a list or pair with possibly non nil termination
        ;
        
    option
        : '{' pattern+ '}'
        ;
        
    typeConstructor
        : '[' typename pattern* ']'
        ;
    
    bindingPattern
        : symbol ':' pattern
        ;
    
    pattern
        : atom
        | pairPattern
        | option
        | typeConstructor
        | bindingPattern
        ;</pre>
Expressions in H are the kinds of first class values that are supported by the language. Patterns are used when writing rules. Each rule contains two patterns. The first is used to determine if the rule matches the H machine state, and the second pattern is used to define the transformation on the H machine state that the rule performs. The execution of an H program is based on pattern matching. The syntax of patterns given above is used to define what kinds of values a particular rule should match. The atom patterns are simple in that they only match their exact value. E.g. the pattern <code>42</code> matches only the integer <code>42</code>. The pattern <code>foo</code> matches only the symbol <code>foo</code>. 
<br/>
<br/>

The more interesting patterns are typenames, options, and type constructors. Typenames are used to match sets of values. The built in typename pattern <code>Any</code> will match any value whatsoever. The pattern <code>Integer</code> would match any of the following values <code>0</code>, <code>-1</code>, <code>1</code>, <code>1234567890123456789</code>, any other integer, or even the set of integers <code>Integer</code>. Similarly the pattern <code>Symbol</code> would match any symbol or set of symbols. Option patterns match only if one of their elements match. E.g. the pattern <code>{ true false }</code> would match either <code>true</code> or <code>false</code>. The pattern <code>{ true false }</code> can also be written as <code>Boolean</code>. Unlike the patterns <code>Any</code>, <code>Integer</code>, and <code>Symbol</code>, the pattern <code>Boolean</code> matches only a finite set of values. Type constructor patterns include patterns as parameters. A type constructor pattern is basically an alias for another pattern. The <code>Boolean</code> pattern is one such alias. Appearance of the pattern <code>Boolean</code> is equivalent to the appearance of the pattern <code>{ true false }</code>. <code>Boolean</code> can also be written <code>[Boolean]</code> which indicates that it is actually a type constructor that takes no parameters. It is an example of a built alias pattern. Another built in alias pattern is <code>[List e]</code> where <code>e</code> is another pattern that represents the type of elements in the list. Use of the pattern <code>[List e]</code> is equivalent to the pattern <code>{ () (e .[List e]) }</code> i.e. <code>[List e]</code> is either the empty list <code>()</code> or it is a pair with <code>e</code> in the first position and <code>[List e]</code> in the second position. Therefore <code>[List Integer]</code> would match <code>(0 .(1 .()))</code> or <code>(0 1)</code> but not <code>(0 .(1 .3))</code> because the element <code>3</code> is not a <code>[List Integer]</code>.
<br/>
<br/>

That is the basiscs of patterns and expressions in H. In the <a href="https://hlzmn.blogspot.com/2017/12/h-programming-language-rules.html" target="_blank">next post</a> I will talk about rules and how patterns and expressions are relevant to them.

