<h2>H Machine</h2>
<br/>
Execution of a program in H is a series of transformations of h machine state. The state is a nested pair like <code>(p.(s.()))</code> where <code>p</code> is the program stack and <code>s</code> is the data stack. Both <code>p</code> and <code>s</code> are stacks implemented as nested pairs like <code>(top.(second.(...)))</code> where <code>top</code> and <code>second</code> are arbitrary values of one of a set of types that are supported on the machine. The ellipsis represents either <code>()</code> or another pair. The nesting and terminating <code>()</code> is implied when writing a stack as <code>(top second ...)</code> where the ellipsis is more elements farther from the top. 
<br/>
<br/>

A program in h is a stack of symbols (representing the "names" of rules like <code>foo</code>, <code>bar</code>, <code>baz</code>) or literals (like <code>0</code>, <code>1</code>, <code>2</code>, <code>42</code>, <code>(0.one)</code>). An example program is
<br/>
<br/>
<code>    ((hello world) out)</code>
<br/>
<br/>
which is a stack of two items. The first item is list of two symbols <code>hello</code> and <code>world</code>. H doesn't have a string or text data type at this time so a list of symbols is used instead. The second item on this program stack is the symbol out.
<br/>
<br/>

This program stack would be one part of the state of an h machine. The other part is the data stack. When starting, the h machine has the state given by <code>( () () )</code> where both the program and data stack are empty. To start the hello world program, the h machine program stack must be initialized with the list <code>((hello world) out)</code> like <code>( ((hello world) out) () )</code>. What to do with this state to lead to the printing of the message is defined by the h machine's rule set.
<br/>
<br/>

The h machine uses a set of rules to control the execution of this program. Rules are what the user of the h language writes to describe programs. There are also a few built in rules that are enough to define a simple hello world program. The first rule says that when a pair of any two values is on the top position of the program stack then move it to the top of the data stack. When the machine starts the data stack is <code>()</code> so when the literal pair rule  is invoked on the state given by <code>( ((hello world) out) () )</code> it causes state to transform to <code>( (out) ((hello world)) )</code>. In the transformed state the single argument to the <code>out</code> rule is now on the data stack ready for consumption by following rules. The state <code>( (out) ((hello world)) )</code> would be matched by the <code>out</code> rule, which looks for the symbol <code>out</code> on the top of the program stack and any value on the data stack. It takes the value from the data stack and prints it to the console. The <code>out</code> rule would transform the state <code>( (out) ((hello world)) )</code> to <code>( () () )</code>. That is, it removes the <code>out</code> from the top of the program stack and replaces the program stack with the rest of the items found there, in this case the rest of the program stack was empty. After the <code>out</code> rule fires the program stack is empty and execution of the h machine stops.
<br/>
<br/>

The execution model described above was designed to be similar to that of the Joy language, described previously. While Joy treats the program not as a first class value but a fixed list of expressions, H programs can directly manipulate the rest of the program during execution. Since the program in H is a stack that is implemented as singly linked list one can always easily refer to the first item on the program and the "rest" of the program where the "rest" is another stack sans the first element of the original program. Rules in H are free to manipulate the program that comes after the rule invocation. This is in contrast to functions words in Joy, and functions in other languages, that have no knowledge of the program that follows their invocation. 

The <a href="https://hlzmn.blogspot.com/2017/12/h-programming-language-expressions-and.html" target="_blank">next post</a> will describe the expressions and patterns in H.



