
<h2>Introduction</h2>
<br/>
This is the first in a series of posts describing a programming language I've been working on. I have been tinkering with this language in my free time for a few years. In August this year I started a project class at school and had the idea to use this hobby project to fulfill the requirements for that class. I don't intend for this project to result in an industrial strength programming language. It is just a hobby of mine. This series of posts is intended to fulfill some requirements of my class and document this language.
<br />
<br />

My interest in this language came after using my HP-50 graphing calculator. It has a built in programming language called <a href="http://www.hpcalc.org/details/6512" target="_blank">UserRPL</a>. That stands for User Reverse Polish Lisp. It is a great language for a calculator. That is so because of, among other things, its <a href="https://en.wikipedia.org/wiki/Stack-oriented_programming_language" target="_blank">stack orientation</a>. I became fascinated with UserRPL, and programming in general, and I thought I should make my own language. My goal was to make my own version of UserRPL that I could run in an <a href="https://en.wikipedia.org/wiki/Read%E2%80%93eval%E2%80%93print_loop" target="_blank">interactive mode</a> on a computer. The HP-50 graphing calculator is very useful, but I wanted something to replace the terrible calculator that comes with Windows.
<br />
<br />

That was a few years ago. Since then I have found other tools to fill the role of useful desktop calculator, but I didn't give up on the idea of designing my own programming language. I have since made interpreters for a few versions. The languages that I have implemented were inspired first by UserRPL. To help me make my versions I read about languages like <a href="http://forth-standard.org/" target="_blank">Forth</a>, <a href="https://common-lisp.net/" target="_blank">Lisp</a>, <a href="http://www.latrobe.edu.au/humanities/research/research-projects/past-projects/joy-programming-language" target="_blank">Joy</a>, and <a href="https://factorcode.org/" target="_blank">Factor</a> which all also influenced this development. The latest of my versions I'm calling H in the tradition of single letter programming language names and because it's the first letter of my last name.
<br />
<br />

In designing and playing with these languages I've come to the conclusion that they all have a serious shortcoming (which I know is a hotly debated topic) in that they're all dynamically type checked. Some of the versions that I made had no type system at all and would simply crash horribly in the presence of an ill formed program. While no type system at all is obviously a serious shortcoming, I think even <a href="https://en.wikipedia.org/wiki/Strong_and_weak_typing" target="_blank">strongly typed</a> <a href="https://thesocietea.org/2015/11/programming-concepts-static-vs-dynamic-type-checking/" target="_blank">dynamically checked</a> languages are lacking when compared to statically checked languages.
<br />
<br />

My goal is to implement a strong static type checking system combined with pattern matching for the H language. In the <a href="https://hlzmn.blogspot.com/2017/12/h-programming-language-concatenative.html" target="_blank">next post</a> I talk about these so called concatenative languages.